<?xml version="1.0" encoding="UTF-8"?>
<widget id="A0000000000000" version="0.0.1"> 
  <name>BluePrint</name>
  <content src="custindex.html"/>
  <access origin="*"/>
  <preference name="smartUpdate" value="false"/>
  <preference name="statusBarAppearance" value="true" />
  <preference name="debug" value="true"/> 
</widget>
